@charset "UTF-8";

body {
	font-family: var(- -bs-font-sans-serif);
	-bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans";
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	background-color: #eeeeec;
}

h2 { text-align: center; }

h4 { text-align: center; }

p,a { color: #fd0ae3; }

form {
	text-align: center;
}

table {
	caption-side: bottom;
	border-collapse: collapse;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 1rem;
	color: #204a87;
	vertical-align: top;
	border-color: #888a85;
	background-color: #ffffff;
}

th, td {
	border: 1px solid #bbc0b8;
	text-align: center;
}